html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}
.clear{
	clear:both;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*{
	-webkit-user-select: none;  -khtml-user-select: none;   -moz-user-select: none; -o-user-select: none;    user-select: none;
}
html,body{
	height:100%;
	font-family:'PT Mono', monospace;
	background:white;
	color:white;
	-webkit-font-smoothing:antialiased;
	-webkit-text-size-adjust: 100%;
	overflow:hidden;
}
a{
	text-decoration:none;
}

/* Typography  */
h2{
	
	font-size:40px;
	line-height:60px;
    @media screen and (max-width: 960px) {
		font-size:30px;
		line-height:30px;
    }
    @media screen and (max-width: 640px) {
		font-size:20px;
		line-height:20px;
    }
}
h3{
	letter-spacing:2px;
}
h4{
	font-size:16px;
	line-height:18px;
}
.title{
	margin: auto;
	position: absolute;
	width:100%;
	max-width:800px;
	padding:0 30px;
	text-align:center;
	z-index:5;
	color:#fff;
	
}
.title h2{
	letter-spacing:5px;
	text-indent:5px;
	font-size:14px;
	line-height:24px;
	text-transform:uppercase;
	font-weight:900;
    @media screen and (max-width: 480px) {
		font-size:14px;
		line-height:22px;
    }	
}

.title p{
	margin-top:5px;
    @media screen and (max-width: 480px) {
		font-size:12px;
		line-height:24px;
    }	
}

.loader{
	
	
}
.loader {
  position:absolute;
  top:50%;left:50%;
  margin:-20px 0 0 -20px;
  font-size: 12px;
  text-indent: -9999px;
  border-top: 3px solid rgba(0, 0, 0, 0.2);
  border-right: 3px solid rgba(0, 0, 0, 0.2);
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  border-left: 3px solid black;
  -webkit-animation: load8 0.6s infinite linear;
  animation: load8 0.6s infinite linear;
  z-index:9999;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Intro  */
#intro{
	color:black;
	padding:80px 20px 50px 20px;
    @media screen and (max-width: 480px) {
		padding:70px 20px 50px 20px;
    }
	img{
		display:block;
		width:50px;
		margin:0 auto 30px auto;
	}	
	p{
		text-transform:none;
		font-size:14px;
		line-height:30px;
		max-width:650px;
		text-align:center;
		margin:0 auto;
		text-transform:uppercase;
	   
	    @media screen and (max-width: 480px) {
			font-size:14px;
			line-height:24px;
	    }
	}
	h4{
		margin:80px 0 25px 0;
	}
	ul{
		display:block;
		width:50%;
		margin:80px 0 0 0;
		float:left;
		li{
			display:block;
			width:33.33333%;
			float:left;
			text-align:center;
			letter-spacing:1px;
			font-size:14px;
			margin:5px 0;
			color:white;
			img{
				margin-bottom:5px;
			}
	
		}
	}
}
.heading{
	width:100%;
	text-align:center;
	padding:30px 0 5px 0;
	color:black;
	text-transform:uppercase;
	font-size:14px;
	letter-spacing:0px;
	font-weight:400;
}
/* Work */
#main{
	position:relative;
	width:100%;
	height:100%;
	z-index:888;
	background:white;
	overflow:scroll;
    @media screen and (max-width: 480px) {
		-webkit-overflow-scrolling: touch;
    }	
	@include opacity(0);
	@include transition(all 0.4s ceaser($easeOutExpo));
	> .wrap{
		position:relative;
		width:100%;
		max-width:1580px;
		margin:0 auto;
		z-index:888;
		padding:20px;
		@include transform(translateY(0));
		@include opacity(1);
		@include transition(all 0.4s ceaser($easeOutExpo));
		&.close{
			@include transform(translateY(-500px));
			@include opacity(0);
		}        
	    @media screen and (max-width: 480px) {
			padding:10px;
	    }	
	}	
	&.open{
		@include opacity(1);
	} 
	 
	&.active{
		@include opacity(0.2);
	} 
	.container { 
		position:relative;
		width:100%;
		overflow:hidden;
		.img-fs{
			display:block;
			position:relative;
			width:100%;
			height:auto;
			-webkit-backface-visibility: hidden;
			-moz-backface-visibility:   hidden;
			-ms-backface-visibility:    hidden; 
			@include opacity(1);
			@include transition(all 1s ceaser($easeOutExpo));
		    @media screen and (max-width: 960px) {			   
				@include opacity(0.6);								
		    }   			
		}	
	}
	.thumb{
		width:26.3333%;
		float:left;
		background:#111;
		margin:3.5%;
		cursor:pointer; 
	    @media screen and (max-width: 1280px) {
			width:45%;
		    margin:2.5%;
	    }   
	    @media screen and (max-width: 960px) {
		    width:95%;
	    }   
		&.empty{
			background:white;
		    @media screen and (max-width: 960px) {
			    display:none;
		    }
		}
		.blank-mark{
			position:absolute;
			height:60%;
			width:1px;
			top:50%;left:50%;
			background:black;
			@include transform(rotate(45deg));
		}
		&:hover{
			img{
				@include transform(scale(1.2));
				@include opacity(0.35);
				
			}
			.title{
				@include opacity(1);
				@include transform(scale(1));
			}		
		}
		.title{
			@include opacity(0);
			@include transform(scale(1.25));
			@include transition(all 0.6s ceaser($easeOutExpo));
		    @media screen and (max-width: 960px) {			   
				@include opacity(1);
				@include transform(scale(1));			
		    }
		}
		.title h3{
			display:inline-block;
			letter-spacing:1px;
			font-size:12px;
			padding:12px 20px;
			margin-top:20px;
			color:#43efd1;
			background:#43efd1;
			color:black;
			a{
				color:black;
			}
		    @media screen and (max-width: 480px) {
				margin-top:30px;
		    }	
		}
	
	}
	.view-btn{
		cursor:pointer;
	}	                          
}

/* Float In Animation  */
.rise, .container{
	@include transform(translateY(500px));
	@include opacity(0);
	@include transition(transform 0.8s ceaser($easeOutExpo), opacity 0.8s ceaser($easeOutExpo));
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:   hidden;
    -ms-backface-visibility:    hidden;   
	&.active{		
		@include transform(translateY(0));
		@include opacity(1);
	}
}

/* Projects  */
#projects{
	position:fixed;	
	top:0;
	width:100%;
	height:100%;
	z-index:777;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:   hidden;
    -ms-backface-visibility:    hidden;
	-webkit-transform: translate3d(0,0,0);
	@include transition(all 0.8s ceaser($easeOutExpo));
	&.active{		
		z-index:9999;		
	}
	.project{
		position:absolute;
		top:0;
		width:100%;
		height:100%;
		overflow:scroll;
		padding:100px 0;
		opacity:0;
		z-index:5;	
		@include transition(all 0.4s ceaser($easeOutExpo));
	    @media screen and (max-width: 480px) {
		    padding:50px 0;
			-webkit-overflow-scrolling: touch;
	    }
		&.active{		
			opacity:1;
			z-index:10;	
		}  
		img{
			display:block;
			width:100%;
			max-width:1280px;
			margin:0 auto;
		    -webkit-backface-visibility: hidden;
		    -moz-backface-visibility:   hidden;
		    -ms-backface-visibility:    hidden;   
		}
		.project-info{
			max-width:1024px;
			margin:0 auto;
			text-align:center;
			padding:50px 0;
			color:black;
			h3{
				display:block;
				font-size:20px;
				margin-bottom:10px;
				text-transform:uppercase;
			}
			h4{
				display:block;
				font-size:14px;
				margin-top:50px;
				color:#999;
			}
			p{
				font-size:14px;
			}
			a{
				display:inline-block;
				letter-spacing:1px;
				font-size:12px;
				padding:12px 20px;
				margin-top:50px;
				color:black;
				border:1px solid black;
				@include transition(all 0.8s ceaser($easeOutExpo));
				a{
					@include transition(all 0.8s ceaser($easeOutExpo));
					color:#43efd1;
				}
				&:hover{
					border:1px solid #43efd1;
					background:#43efd1;
					color:black;
					a{
						color:black;
					}
		
				}
			}
		}
		
	}
	.close-project{
		position:fixed;
		display:none;
		top:47px;
		right:50px;
		width:30px;
		height:15px;
		cursor: pointer;
		z-index:999;
	    @media screen and (max-width: 480px) {
		    right:20px;top:30px;
	    }
		&:hover{
			span, span:before, span:after{
				background:#999;
			}
		}		
	}
	.close-project span {
  
	  height: 2px;
	  width: 30px;
	  background: black;
	  position: absolute;
	  left:0;
	  display: block;
	  @include transition(all 0.8s ceaser($easeOutExpo));
	}
	.close-project span:nth-child(1) {
	  top: 7px;
	  @include transform(rotate(45deg));
	}
	.close-project span:nth-child(2) {
	  bottom: 6px; 
	  @include transform(rotate(-45deg));
	}
	.top{
		width:60px;
		margin:50px auto 0 auto;
		cursor:pointer;
		padding:15px 0;
		@include transition(all 0.6s ceaser($easeOutExpo));
		@include transform(translateY(0));
		&:hover{
			@include transform(translateY(-15px));
		}
	}
	
	
}

/* Capabilities  */
#capabilities{
	text-align:center;
	color:black;
	padding:80px 0;
	.wrap{
		position:relative;
		width:100%;
		max-width:650px;
		margin:0 auto;
	}
	.title{
		max-width:700px;
	}
	h2{
		text-transform:uppercase;
		font-size:14px;
		letter-spacing:0px;
		font-weight:400;
	    @media screen and (max-width: 480px) {
		   margin-bottom:30px;
	    }
	}
	ul{
		display:block;
		width:33.3333%;
		text-indent:50px;
		margin:20px 0 0 0;
		float:left;
	    @media screen and (max-width: 480px) {
		    width:100%;
			margin:0px 0 0 0;
			text-align:center;
			text-indent:0px;
	    }
		li{
			display:block;
			//letter-spacing:1px;
			font-size:14px;
			text-align:left;
			padding:10px 0px;
		    @media screen and (max-width: 480px) {
				font-size:14px;
				text-align:center;
		    }	
			
		}
	}
}

/* Contact  */
#contact{
	text-align:center;
	color:black;
	padding:40px 0 130px 0;
	.wrap{
		position:relative;
		width:100%;
		max-width:650px;
		margin:0 auto;
	}
	
	h2{
		text-transform:uppercase;
		font-size:14px;
		letter-spacing:0px;
		font-weight:400;
	}
	ul{
		display:block;
		width:100%;
		margin:20px 0 0 0;
		float:left;
		li{
			display:block;
			width:33.33333%;
			float:left;
			text-align:center;
			font-size:14px;
			margin:5px 0;
			color:black;
		    @media screen and (max-width: 480px) {
				font-size:12px;
				padding:0 10px;
		    }	
			img{
				display:block;
				width:100%;
				max-width:100px;
				padding:15px;
				margin:0 auto;
			    -webkit-backface-visibility: hidden;
			    -moz-backface-visibility:   hidden;
			    -ms-backface-visibility:    hidden;   
				@include transition(all 0.5s ceaser($easeOutExpo));
				&:hover{
					@include transform(scale(1.2));
				}
				
			    @media screen and (max-width: 480px) {
					padding:15px;
			    }	
			}
			a{
				color:black;
			}
		}
	}
}

.main-top{
	width:60px;
	margin:0 auto 0 auto;
	cursor:pointer;
	@include transition(all 0.6s ceaser($easeOutExpo));
	@include transform(translateY(0));
	&:hover{
		@include transform(translateY(-15px));
	}
}
.copyright{
	display:block;
	width:300px;
	margin:0 auto;
	text-align:center;
	padding:30px 0 30px 0;
	color:#999;
	font-size:12px;
}







